/* DESKTOP QUERY */
@media only screen and (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }

  .product {
    width: 30%;
  }
  .headline {
      width: 20rem;
  }
}
/* TABLET QUERY */
@media only screen and (max-width: 1024px) {
/* TABLET NAVIGATION SECTION */
  nav .main-menu {
    display: none;
  }

  .mobile-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
/* TABLET HEADER SECTION */
  #header {
    font-size: 2rem;
  }

  .company .container {
    padding: 1rem 0;
  }

  .company .container img {
    height: 2rem;
  }
  /* TABLET PRODUCT SECTION */

  .product {
    width: 47%;
  }

  .glasses {
    display: none;
  }
}
/* PHONE QUERY */
@media only screen and (max-width: 470px) {
  .headline {
    width: auto;

  }

  .main-banner {
    height: 2rem;
  }


}
/* General Styling */
html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

img {
  border-style: none;
}

/* COMPANY SECTION */
.company {
  color: white;
  background-color: black;
}

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0;
}

.company .container img {
  padding-left: .5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.company .container span {
  font-size: 1rem;
}

/* BANNER SECTION */
.main-banner {
  background-image: url("../images/motorcycle.jpeg");
  height: 25rem;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 2rem 3rem;
  top: 9rem;
  position: relative;
}

.headline h4 {
  font-size: 1rem;
}

.headline h1 {
  font-size: 2rem;
  margin: .25rem 0;
}

/* NAVIGATION SECITON */
nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 0;
}

nav a {
  color: white;
  text-decoration: none;
}

/* PRODUCT SECTION */
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: .5rem 0;
}

.product-image {
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8rem;
}

/* INFORMATION SECITON */
.business-info {
  margin: 3rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 35%;
}

.title {
  display: block;
  padding: 1rem 0 1rem 2rem;
  background-color: black;
  color: white;
}

/* FOOTER SECTION */
footer {
  padding: 5rem 0;
  background-color: black;
  color: white;
}

footer .container {
  text-align: left;
}
